<div class="body">
    <a (click)="exitToMenu()" id="exit">        
        <img src="Assets/exit.png" alt="Exit">
    </a>
    
    <div class="login">
        <div class="circle-container">
            <h1>Σύνδεση:</h1>
            <div class="form">
                <div class="input">
                    <input type="text" id="email" name="email" placeholder=" " required>
                    <label for="email">Email:</label>
                </div>

                <div class="input">
                    <input type="password" id="password" name="password" placeholder=" " required>
                    <label for="password">Κωδικός:</label>
                </div>

                <div class="register">
                    <a (click)="goToRegister()">Δημιουργία λογαριασμού.</a>
                </div>

                <div class="forgot-password">
                    <a >Ξεχάσατε τον κωδικό σας;</a>
                </div>

                <button type="submit">Σύνδεση</button>
            </div>
        </div>
        <img src="Assets/Subtract.png" alt="circle background" class="circle-bg">
        <img src="Assets/cloudAuth.png" id="cloud" alt="cloud graphic">
    </div>
</div>
