<div class="header-wrapper">
  <header class="header">
    <div class="nav-buttons-wrapper">
      <nav class="nav-buttons">
        <button (click)="navigate('games')">
          Παιχνίδια <img src="Assets/games.png" alt="Game Icon">
        </button>
        <button (click)="navigate('videos')">
          Βίντεο <img src="Assets/video.png" alt="Video Icon">
        </button>
        <button (click)="navigate('advices')">
          Συμβουλές <img src="Assets/advice.png" alt="Advice Icon">
        </button>
        <button (click)="navigate('contact')">
          Επικοινωνία <img src="Assets/mail.png" alt="Contact Icon">
        </button>
        <button id="person" (click)="navigate('login')">
          <img src="Assets/login.png" alt="Login Icon">
        </button>
      </nav>
    </div>
  </header>
</div>
