<main class="main">
    <div class="background">
      <p class="welcome">
        <span class="letter">T</span>
        <span class="letter">o</span>
        <span class="letter">g</span>
        <span class="letter">e</span>
        <span class="letter">t</span>
        <span class="letter">h</span>
        <span class="letter">e</span>
        <span class="letter">r</span>
        <span class="letter">&nbsp;</span>
        <span class="letter">w</span>
        <span class="letter">e</span>
        <span class="letter">&nbsp;</span>
        <span class="letter">e</span>
        <span class="letter">v</span>
        <span class="letter">o</span>
        <span class="letter">l</span>
        <span class="letter">v</span>
        <span class="letter">e</span>
        <span class="letter">&nbsp;</span>
        <span class="letter">t</span>
        <span class="letter">h</span>
        <span class="letter">e</span>
        <span class="letter">&nbsp;</span>
        <span class="letter">u</span>
        <span class="letter">n</span>
        <span class="letter">i</span>
        <span class="letter">q</span>
        <span class="letter">u</span>
        <span class="letter">e</span>
        <span class="letter">&nbsp;</span>
        <span class="letter">m</span>
        <span class="letter">i</span>
        <span class="letter">n</span>
        <span class="letter">d</span>
        <span class="letter">s</span>
        <span class="letter">.</span>
      </p>
    </div>
</main>