<div class="body">
  <a (click)="exitToMenu()" id="exit">
    <img src="Assets/exit.png" alt="Exit">
  </a>

  <div class="title">
    <h1>Οι 12 Θεοί του Ολύμπου:</h1>
  </div>

  <div class="video-container">
    <!-- You can replace these src URLs with different video links -->
    <div class="video-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/E01Fk7wTLf0?si=jySHL_vgWMTuLTrB"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/qSGYtPqwLCo?si=hhufhtDk277Nk5MR"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/OE9IYUoANak?si=C_YExFgYIGKDKFk3"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
      </iframe>
    </div>
    <div class="video-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/boQT2_tdlyE?si=zgOj5l1b2mVsXdxI"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
      </iframe>
    </div>
    <div class="video-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0qbVvzi0rwc?si=XPyjYxIShubgHA5X"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
      </iframe>
    </div>
    <div class="video-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dUtDaPLPv1w?si=Pv12BPxNYFAJFsN3"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7NrQBNJlyz4?si=hR0CoOju_TzBoh90"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/wrcPljaLQbU?si=AQiUIbv6xgtuvMB2"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Vi6iViqfwO8?si=O8eSLcBhzPi5gpUb"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/IyDfD16AquQ?si=B9LX6Fup3-jd3cn_"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/c3lGbw9aJBM?si=4ifV81YtHeOQqw6H"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UfiCcTHKEPA?si=789yeHlg7-GUBA0S"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>