<div class="body">
    <a (click)="exitToMenu()" id="exit">        
        <img src="Assets/exit.png" alt="Exit">
    </a>

  <div class="title">
    <h1>Ποιο Παιχνίδι θέλεις να παίξεις;</h1>
  </div>

  <div class="game-clouds">
    <div class="game-clouds-row">
      <a (click)="goToMathInstructions()"><img src="Assets/maths-cloud.png" alt="Maths Icon"></a>
      <a (click)="goToGodsInstructions()"><img src="Assets/gods-cloud.png" alt="Gods Icon"></a>
    </div>
    <a (click)="goToMoneyInstructions()"><img src="Assets/money-cloud.png" alt="Money Icon"></a>
  </div>
</div>
